<div class="section-analytics">
  <h2 style="color: #49bf9d; font-size: 1.5rem; font-weight: 500;">
    Analytical View
  </h2>

  <div class="row">
    <div class="col-6 col-12-small">
      <iframe
        width="496"
        height="306"
        seamless
        frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTnvIBdFN6mXTDHnYJcVhNcfbLtzWKBVF9thOEw0KQ3LoifPnFYFWQWqG1VmMjPQ3q4gDf6U_LbEsl1/pubchart?oid=908154796&amp;format=interactive"
      ></iframe>
      <p style="width: 100%; text-align: center; font-size: 0.8em;">
        Comparing No. of Sessions from last week to this week
      </p>
    </div>
    <div class="col-6 col-12-small">
      <iframe
        width="497"
        height="307"
        seamless
        frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTnvIBdFN6mXTDHnYJcVhNcfbLtzWKBVF9thOEw0KQ3LoifPnFYFWQWqG1VmMjPQ3q4gDf6U_LbEsl1/pubchart?oid=2123085288&amp;format=interactive"
      ></iframe>
      <p style="width: 100%; text-align: center; font-size: 0.8em;">
        Sessions by Country for last 7 days
      </p>
    </div>
  </div>
  <div class="row">
    <p style="width: 100%; text-align: center;">
      <span style="color: #49bf9d;">Google Analytical</span> data for
      <b style="color: #49bf9d;">Angular Shopping Cart</b>
      application
    </p>
  </div>

  <div class="row">
    <div class="col-6 col-12-small">
      <iframe
        width="496"
        height="307"
        seamless
        frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTZLmT0Edd_1Zv2zKzVkMVCv9lC_XYEHIeqFDIbKvLpoz3f_T_SsG_07J4_QAPZokIqHo6-GgyC1ENg/pubchart?oid=13374967&amp;format=interactive"
      ></iframe>
      <p style="width: 100%; text-align: center; font-size: 0.8em;">
        Comparing No. of Sessions from last week to this week
      </p>
    </div>
    <div class="col-6 col-12-small">
      <iframe
        width="497"
        height="307"
        seamless
        frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTZLmT0Edd_1Zv2zKzVkMVCv9lC_XYEHIeqFDIbKvLpoz3f_T_SsG_07J4_QAPZokIqHo6-GgyC1ENg/pubchart?oid=1257912903&amp;format=interactive"
      ></iframe>
      <p style="width: 100%; text-align: center; font-size: 0.8em;">
        Sessions by Country for last 7 days
      </p>
    </div>
  </div>
  <div class="row">
    <p style="width: 100%; text-align: center;">
      <span style="color: #49bf9d;">Google Analytical</span> data for
      <b style="color: #49bf9d;" target="_blank">Vue Shopping Cart</b>
      application
    </p>
  </div>
</div>
