:host {
  #main {
    max-width: 64em;
    padding: 4em 4em 4em 4em;
  }

  #header>* {
    flex: none;
  }

  .button {
    box-shadow: none !important
  }

  // Hiding Github Calendar in mobile view
  @media screen and (max-width: 400px) and (min-width: 0px) {
    #two {
      display: none;
    }
  }

  @media screen and (max-width: 980px) {

    #footer,
    .actions {
      display: none !important
    }
  }

  @media screen and (max-width: 480px) {
    #header {
      padding: 6.5em 1.5em;
    }
  }

  .actions {
    display: block;
  }
}

#header {
  border-bottom: solid 5px #49bf9d;
}

header.major> :last-child {
  border-bottom: solid 5px #49bf9d;
}


@import "../../../assets/css/strata.css";
