<!-- Header -->
<header id="header">
  <div id="particlejs"></div>
  <div class="inner">
    <a href="javascript:;;" class="image avatar" style="width: 11rem"
      ><img [src]="user.avatar" [alt]="user.name"
    /></a>
    <h1>
      <strong>I am {{ user.name }}</strong
      >,
    </h1>
    <h1>{{ user.position }},</h1>
    <h1>{{ user.bio }}</h1>
  </div>
  <ul class="actions">
    <li>
      <a
        href="../../../assets/md_ismail_23_12_2022.pdf"
        download="Mohammed_Ismail_SE_CV"
        class="button"
        style="color: #fff !important"
        ><i class="fa fa-file-alt"></i> Download CV</a
      >
    </li>
    <li *ngIf="false">
      <a
        [routerLink]="['/blog']"
        routerLinkActive="router-link-active"
        class="button"
        style="color: #fff !important"
        >My Blog</a
      >
    </li>
  </ul>
  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <ng-container *ngFor="let socialPlatform of user.links">
          <li *ngIf="socialPlatform['canShow']">
            <a
              [href]="socialPlatform['link']"
              target="_blank"
              class="icon"
              [ngClass]="socialPlatform['icon']"
              ><span class="label">Twitter</span></a
            >
          </li>
        </ng-container>
      </ul>

      <ul class="copyright">
        <!-- <li>
          <a href="https://ikismail.github.io/v1/" target="_blank"
            >Portfolio v-1.0</a
          >
        </li> -->
        <li>&copy; {{ today | date : "yyyy" }} ikismail</li>
        <li>
          Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a>
        </li>
      </ul>
    </div>
  </footer>
</header>

<!-- Main -->
<div id="main">
  <!-- One -->
  <section id="one">
    <header class="major">
      <h2>
        {{ user.title }}
      </h2>
    </header>
    <p>
      {{ user.description }}
      <br />
      <br />
      My current toolset includes
      <span style="color: #49bf9d" *ngFor="let skill of user.toolset"
        >{{ skill }},
      </span>
      and all the other various frameworks, libraries and technologies related
      to them.
    </p>
  </section>

  <!-- <section id="two">
    <h2 style="color: #49bf9d;">My Contributions</h2>
    <app-github-calendar></app-github-calendar>
  </section> -->

  <section id="three">
    <app-work-experience></app-work-experience>
  </section>

  <!-- Two -->
  <!-- <section id="four">
    <app-recent-work></app-recent-work>
  </section> -->

  <!-- Three -->
  <!-- <section id="five">
    <app-google-analytics></app-google-analytics>
  </section> -->

  <!-- Four -->
  <section id="five">
    <app-get-in-touch></app-get-in-touch>
  </section>
</div>
