:host {
  #main {
    max-width: 64em;
  }

  .button {
    box-shadow: none !important
  }

  @media screen and (max-width: 980px) {

    #footer,
    .actions {
      display: none !important
    }
  }

  @media screen and (max-width: 480px) {
    #header {
      padding: 6.5em 1.5em;
    }
  }

  .actions {
    display: block;
  }
}

#header {
  border-bottom: solid 3px #49bf9d;
}

header.major> :last-child {
  border-bottom: solid 3px #49bf9d;
}


@import "../../../assets/css/strata.css"
