input:focus {
  border-color: #49bf9d;
  box-shadow: 0 0 0 1px #49bf9d;
}

textarea:focus {
  border-color: #49bf9d;
  box-shadow: 0 0 0 1px #49bf9d;
}

input[type="submit"] {
  box-shadow: 0 0 0 2px #49bf9d;
}

@import "../../../../assets/css/strata.css"
