<div class="recent-work">
  <h2 style="color: #49bf9d;">Recent Work</h2>
  <div class="row">
    <article class="col-6 col-12-xsmall work-item" *ngFor="let project of projects">
      <a [href]="project.live_link" class="image fit thumb" target="_blank">
        <img [src]="project.image" [alt]="project.name" height="280px" /></a>
      <a [href]="project.project_link">
        <h3 style="color: #49bf9d;">{{project.name}}</h3>
      </a>
      <p>{{project.description}}.</p>
      <!-- <a href="javascript:;;" class="right"><i class="fa fa-eye" aria-hidden="true"></i> Demo</a> -->
    </article>
  </div>
  <ul class="actions">
    <li><a href="javascript:;;" class="button">Load More</a></li>
  </ul>
</div>
